.first-section,
.lenguages-container,
.tools-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.icon-container {
  background-color: #0f2167;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 30px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  width: 60px;
  height: 60px;
  color: white;
}

.title {
  color: #0f2167;
  font-size: 24px;
  margin: 0px;
  margin-top: 10px;
}

.p,
.tools-list {
  width: 300px;
  height: 70px;
  font-size: 20px;
}

.tools-list {
  text-align: center;
  padding: 0;
}

.tool {
  list-style-type: none;
}

@media screen and (max-width: 960px) {

  .lenguages-container .title {
    margin-top: 20px;
  }

  .tools-container .title {
    margin: -10px;
  }

  .tools-container {
    margin-top: -20px;
  }
}