.projects-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.projects-title {
  color: #0f2167;
  font-size: 40px;
  margin: 40px;
}

.image-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.project-img {
  width: 600px;
  height: 500px;
}

.first-image {
  justify-self: end;
}

.first-content,
.second-content {
  position: absolute;
  background-color: rgb(15, 33, 103, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-self: center;
}

.sx-image {
  position: relative;
  width: 600px;
  height: 500px;
}

.dx-image {
  position: relative;
  width: 600px;
  height: 500px;
}

.second-content:hover,
.first-content:hover {
  opacity: 1;
}

.second-content h1,
.first-content h1 {
  font-size: 40px;
  color: white;
}

.second-content p,
.first-content p {
  font-size: 24px;
  color: white;
}

.second-content > *,
.first-content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
