.skills-container {
  margin-top: -130px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 100px;
  border: 2px solid #E6ECF8;
}

.aboutme-container {
  display: flex;
  flex-direction: column;
}

.aboutme-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutme-title {
  color: #0f2167;
  font-size: 40px;
}

.aboutme-image {
  max-width: auto;
  max-height: 300px;
  border-radius: 3cqw;
}

.aboutme-presentation {
  margin-top: 20px;
  background-color: #0f2167;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.1px;
  padding-bottom: 200px;
}

.presentation-title {
  margin-top: 40px;
  font-size: 24px;
}

.presentation-desc {
  font-size: 20px;
  margin: 0px 300px;
}

@media screen and (max-width: 960px) {
  .aboutme-title {
    font-size: 40px;
  }

  .aboutme-presentation {
    padding: 0;
    padding-bottom: 30px;
  }

  .presentation-title {
    font-size: 30px;
  }

  .presentation-desc {
    margin: 0;
    font-size: 24px;
  }

  .skills-container {
    margin: 0;
    flex-direction: column;
    border: none;
  }
} 